@brafton:registry=https://www.myget.org/F/brafton-prerelease/npm
//www.myget.org/F/brafton-prerelease/:_password="MUZsZS5Sb2I="
//www.myget.org/F/brafton-prerelease/:username=stewart.snow
//www.myget.org/F/brafton-prerelease/:email=stewart.snow@brafton.com
//www.myget.org/F/brafton-prerelease/:always-auth=true
