# Node
node_modules/*
npm-debug.log
**/node_modules/*

typings/

# JetBrains
.idea
.project
.settings
.idea/*
*.iml

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store


# Ignored transpiled files
*.ts
*.ngFactory.ts
!*.d.ts


# Ignore the other root config files that we don't need in the package
appveyor.yml
GitVersionConfig.yaml
.travis.yml
tslint.json
typings.json
.npmignore

# Ignore test application
demo-app/